.containerGameCard{
    width: 35vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.cardHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color:#251403;   
}

.cardTitle{
	color: #fff;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
    font-weight: bold;
}

.cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cardFooter{
    width: 90%;
    height: 16vh;
    background-color:#251403;
    padding: 2vh 5%;
}

.history{
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ImgGameContainer {
    margin: 5% 5% 2% 5%;
    max-width: 80%;
    max-height: 50vh;
    border-radius: 8px;
    background-color: transparent; 
}

.ImgGameStyle {
    object-fit: fill;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    cursor:auto;
}

.choices {
	display:inline-block;
	cursor:pointer;
	color: #fff;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size:17px;
	padding:10px 30px;
    margin-right: 5%;
    margin-top: 2%;
}


.choices:hover {
    color: #00ff62;
}