@import '../../../scss/custom.scss';

.my-form-group{
    display: flex;
    flex-direction: column;
}


.my-input{
    border: none;
    outline: none;
    border-bottom: 2px solid  $border-normal;
    margin: 0.5em;
    width: 100%;
}

.my-label{
    display: none;
}