@import "./../../../../../scss/custom.scss";

.card-wrapper{
    display: flex;
    flex-direction: column !important;
    border: 1px solid $border-normal;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.5em !important;
    min-width: 15%;
}


.card-footer{
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.card-footer > button {
    border-radius: 0.5em;
    width: 100%;
    margin: 0.5em;
    padding: 0.2em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.btn-trash {
    background-color: #BF455B;
}

.btn-edit {
    background-color: $primary;
    font-size: 10px;
}

.card-body-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body-img > img {
    width: 5em;
    height: 5em;
}

.card-body-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}