@import '../../../../../scss/custom.scss';

.nav-item
{
    color: $primary;
    margin: 1em 0em;
    padding: 10px;
    transition: ease-in-out .1s;
    font: {
        size: 16px;
    };
    &:hover
    {
        background-color: $primaryBackground;
        color: $primary;
        border: $primary;
    };
}

.btn-primary    
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    border: #F8BA63;
    &:hover
    {
        background-color: #fff;
        color: #F8BA63;
    }
};

.navbar-brand > img {
    padding: 1em 0.5em;
}