@import './../../../../../../../scss/custom.scss';

.nav-item
{
    font-size: 20px;
}

.active
{
    color: $primary !important;
    background-color: $primaryBackground;
    border-color: $primaryBackground;
}