.customNodeContainer {
    background-color: #262626;
    color: #919794;
    padding: 1px 10px 10px 10px;
    max-width: 20vw;
    border: 1px solid #6eaef7 ;
}

.body_container{
    display: flex;
    flex-direction: column;
}

.tags_container {
    display: flex;
    flex-direction: row;
}

.tag {
    margin-right: 5px;
    border-radius: 5px;
    padding: 1px 3px;
    color: #FFF;
}

.title {
    font-size: 17px;
    font-weight: bold;
}

.description {
    font-size: 12px;
    padding-left: 0;
}

.edit_container {
    display: flex;
    justify-content: flex-end;
}

.edit_button {
    color:rgb(185, 185, 185);
    font-size: 14px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: inline-block
}

.edit_button:hover {
    color: #6eaef7;
}

.markHistory > p > img {
    width: 100px;
    height: 100px;
}