.ImgStyle {
    object-fit: contain;
    height: 100%;
    width: 100%;
    cursor: grab;
}

.NodeCard {
    width: 200px;
    height: 20vh;
}

.SidebarContainer{
    z-index: 9;
    position: absolute;
    bottom: 8px;
    left: 5vw;
    width: 20vw;
    height: 20vh;
    background-color: transparent;
    box-shadow: inset 0px -80px 36px -40px rgba(255, 255, 255, 0.4);
}

.SidebarSubContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}