@import './../../scss/base';

.top-menu-container {
    position: absolute;
    width: 100vw;
    background: #262626;
    z-index: 9;
    height: 10vh;
    box-shadow: 2px 10px 33px 0px rgba(24, 23, 23, 0.75);
    @include flex-center();
    padding: 5px;
}

.menu-options:first-child {
    margin-left: 20px;
}

.img-container {
    position: absolute;
    right: 45.3%;
    @include flex-center();
    justify-content: center;
}

.top-logo {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.back-container {
    position: absolute;
    right: 0;
}

.back-button {
    color: rgb(245, 71, 71);
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
}

.back-button:hover {
    color: rgb(255, 125, 125);
}

.menu-options {
    margin-right: 40px;
    color: #FFF;
    cursor: pointer;

    &:hover{
        color:#6eaef7;
    }
}

.form_buttons{
    @include flex-center();
}