@import '../../../scss/custom.scss';

#contentPage
{
    background-color: $surface;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px !important;
    padding: 0px !important;
}