@import './../../../../../../../scss/custom.scss';

.accordion-button {
    background-color: $surface !important;
    color: $text-normal !important;
    border: none !important;
}

.accordion-button::after {
    // background-color: $text-normal;
    color: $text-normal !important;
}

.accordion-button > svg {
    margin-right: 20px;
}